.content{
   grid-area: content;
   background-color: whitesmoke;
   text-align: center;
   padding: 100px;
}

.column{
    float: left;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
}

.row{
    margin: 0 -5px;
}

.card{
    width: 90%;
    border-style: solid;
}

.container{
    padding: 10px 25px;
}